<strong>Olá, {{ deliveryman }} </strong>

<p>Infelizmente um pedido de entrega atribuida a você acaba de ser cancelado.</p>

<p style='font-weight: bold;'>Resumo sobre a encomenda: </p>

<p><strong>Produto: </strong>{{ product }}</p>

<p>Pedimos desculpa pelo inconveniente.</p>