<strong>Olá, {{ deliveryman }} </strong>

<p>Você acaba de receber uma atribuição de encomenda e a mesma já se encontra dispnível para entrega.</p>

<p style='font-weight: bold;'>Resumo sobre a encomenda: </p>
<p><strong>Produto: </strong>{{ product }}</p>

<p>Dirija-se ao ponto de recolha o mais breve possível.</p>